<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="mbedHelper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <mbedHelper.Properties.Settings>
            <setting name="defaultTargetType" serializeAs="String">
                <value>name</value>
            </setting>
            <setting name="defaultTargetValue" serializeAs="String">
                <value>NUCLEO</value>
            </setting>
            <setting name="puttyEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="puttyCom" serializeAs="String">
                <value>COM3</value>
            </setting>
            <setting name="puttyBaud" serializeAs="String">
                <value>115200</value>
            </setting>
        </mbedHelper.Properties.Settings>
    </userSettings>
</configuration>